.productLeft {
  margin-bottom: 20px;
  overflow: hidden;
}

.productDetailsMain {
  display: flex;
  gap: 4rem;
}

.productBlock {
  flex: 1 0 0;
  overflow: hidden;
}

.description {
  white-space: pre-line;
}

.productPrice {
  color: #f84147;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 1.5rem;
}
