.modalContent {
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.175);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  max-width: 600px;
  margin: 1.75rem auto;
  position: relative;
  width: 80%;
  word-wrap: break-word;
}

.modalHeader {
  align-items: center;
  border-bottom: 1px solid #dee2e6;
  display: flex;
  justify-content: space-between;
  line-height: 1.5;
  padding: 1rem;
  position: relative;
}

.modalTitle {
  flex: 1;
  margin-bottom: 0;
  text-align: center;
  overflow: hidden;
  word-wrap: break-word;
}

.close {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: #000;
  opacity: .5;
  transition: all .2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  &:hover {
    opacity: 1;
  }
}

.modalBody {
  padding: 1rem;
}

.modalFooter {
  align-items: center;
  background: #fff;
  border-top: 1px solid #dee2e6;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}
