.inputGroup {
  margin-bottom: 1rem;
}

.label {
  display: block;
  color: #495057;
  margin-bottom: 0.5rem;
}

.hiddenInput {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;

  &:active,
  &:focus {
    & ~ .customFileInput {
      border-color: #80bdff;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
  }
}

.selectedFileNames {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.fileInput {
  position: relative;

  .fileItem {
    align-items: center;
    background-color: #eee;
    border-radius: 0.25rem;
    display: flex;
    gap: 10px;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.4rem 0.75rem;

    button {
      background: #e6d8d8;
      color: #dc3545;

      &:hover {
        background: #e9c1c1;
      }
    }
  }
}

.customFileInput {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
}

.customFileInput:hover {
  border-color: #007bff;
}

.invalid .customFileInput {
  border-color: #dc3545;
}

.previewImg {
  width: 300px;
}

.error {
  color: #dc3545;
  margin-top: 0.5rem;
}

