.actionsCell {
  min-width: 125px;
  position: relative;
}

.btnWrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.spinnerWrapper {
  align-items: center;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.table {
  margin-bottom: 15px;
}

.rowImg {
  cursor: pointer;
  max-width: 100%;
  transition: all .2s ease-in-out;

  &:hover {
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    transform: scale(1.1);
  }
}
